[submodule "catkin_ws/src/iai_kinect2"]
	path = catkin_ws/src/iai_kinect2
	url = https://gh-proxy.com/https://github.com/6-robot/iai_kinect2.git
[submodule "catkin_ws/src/rplidar_ros"]
	path = catkin_ws/src/rplidar_ros
	url = https://gh-proxy.com/https://github.com/Slamtec/rplidar_ros.git
[submodule "catkin_ws/src/vizanti"]
	path = catkin_ws/src/vizanti
	url = https://github.com/MoffKalast/vizanti.git
[submodule "catkin_ws/src/waterplus_map_tools"]
	path = catkin_ws/src/waterplus_map_tools
	url = https://gh-proxy.com/https://github.com/6-robot/waterplus_map_tools
[submodule "catkin_ws/src/wpb_home"]
	path = catkin_ws/src/wpb_home
	url = https://github.com/6-robot/wpb_home
[submodule "catkin_ws/src/xfyun_waterplus"]
	path = catkin_ws/src/xfyun_waterplus
	url = https://gh-proxy.com/https://github.com/6-robot/xfyun_waterplus
