<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <arg name="world_file" default="$(find monday9)/worlds/platform.world"/>
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
    </include>

    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find monday9)/models/mani.model -urdf -model mani" />

    <!-- load the controllers of WPB_HOME -->
    <include file="$(find monday9)/launch/wpb_home_controllers.launch"/>

    <!-- wpb_home_grab_server -->
    <node pkg="monday9" type="my_wpb_home_grab_server" name="my_wpb_home_grab_server" />

    <!-- wpb_home_objects_3d -->
    <node pkg="monday9" type="my_wpb_home_objects_3d" name="my_wpb_home_objects_3d" output="screen">
    <param name="topic" type="string" value="/kinect2/sd/points"/>
    <param name="start" type="bool" value="true"/>
    </node>

    <!-- wpb_home_grab_action -->
    <node pkg="monday9" type="my_wpb_home_grab_action" name="my_wpb_home_grab_action">
    <rosparam file="$(find monday9)/config/wpb_home.yaml" command="load" />
    </node>

    <!-- rviz -->
    <arg name="model" default="$(find monday9)/urdf/wpb_home_mani.urdf"/>
    <arg name="gui" default="false" />
    <arg name="rvizconfig" default="$(find monday9)/rviz/grab.rviz" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>