<launch>
    <!-- Fixed -->
    <include file="$(find wpb_home_bringup)/launch/normal.launch" />

    <!-- Kinect2 优化: 降低CPU/USB负载, 避免掉帧卡顿 -->
    <arg name="fps_limit" default="10.0" />
    <arg name="worker_threads" default="2" />
    <param name="/kinect2_bridge/fps_limit" type="double" value="10.0" />
    <param name="/kinect2_bridge/worker_threads" type="int" value="2" />
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
        <arg name="fps_limit" value="$(arg fps_limit)" />
        <arg name="worker_threads" value="$(arg worker_threads)" />
    </include>
    <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port" type="string" value="/dev/rplidar"/>  
        <param name="serial_baudrate" type="int" value="115200"/>
        <param name="frame_id" type="string" value="laser"/>
        <param name="inverted" type="bool" value="false"/>
        <param name="angle_compensate" type="bool" value="true"/>
        <remap from="scan" to="scan_raw"/>
    </node>
    
    <node pkg="wpb_home_bringup" type="wpb_home_lidar_filter" name="wpb_home_lidar_filter">
        <param name="pub_topic" value="/scan"/>
    </node>

    <!-- Mapping -->
    <node name="mapping_controller" pkg="monday9" type="mapping_control.py" output="screen"/>
    <node name="map_saver_service" pkg="monday9" type="save_map_service.py" output="screen"/>

    <!---move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base"  output="screen">
        <rosparam file="$(find monday9)/nav_lidar/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find monday9)/nav_lidar/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find monday9)/nav_lidar/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find monday9)/nav_lidar/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find monday9)/nav_lidar/local_planner_params.yaml" command="load" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
        <param name="use_dijkstra" value="true"/>
        <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
        <param name="base_local_planner" value="wpbh_local_planner/WpbhLocalPlanner" />
        <!-- <rosparam file="$(find monday9)/nav_lidar/teb_local_planner_params.yaml" command="load" /> -->
        <param name= "controller_frequency" value="15" type="double"/>
    </node>

    <!-- wpb_home_grab_server -->
    <node pkg="monday9" type="my_wpb_home_grab_server" name="my_wpb_home_grab_server" />

    <!-- wpb_home_objects_3d -->
    <node pkg="monday9" type="my_wpb_home_objects_3d" name="my_wpb_home_objects_3d" output="screen">
        <param name="topic" type="string" value="/kinect2/sd/points"/>
        <param name="start" type="bool" value="true"/>
    </node>

    <!-- wpb_home_grab_action -->
    <node pkg="monday9" type="my_wpb_home_grab_action" name="my_wpb_home_grab_action">
        <rosparam file="$(find monday9)/config/wpb_home.yaml" command="load" />
    </node>

    <!-- Web -->
    <node name="web_server" pkg="rosbridge_server" type="rosbridge_websocket"/>
    <node name="rosapi" pkg="rosapi" type="rosapi_node"/>
    <node name="web_http" pkg="monday9" type="start_web.sh" output="screen"/>

</launch>