<launch>
  <arg name="database_config_file" default="$(find restaurant_voice_interaction)/config/database_config.yaml"/>
  <arg name="alias_file" default="$(find restaurant_voice_interaction)/config/menu_aliases.yaml"/>
  <arg name="runtime_file" default="$(find restaurant_voice_interaction)/config/runtime.yaml"/>

  <arg name="default_table" default="table_1"/>
  <arg name="auto_start_session" default="true"/>
  <arg name="default_customer_count" default="1"/>
  <arg name="default_payment_method" default="wechat"/>
  <arg name="default_discount_amount" default="0"/>
  <arg name="allow_keyboard_input" default="true"/>

  <node pkg="restaurant_voice_interaction"
        type="voice_interaction_node.py"
        name="voice_interaction_node"
        output="screen">
    <param name="database_config_file" value="$(arg database_config_file)"/>
    <param name="alias_file" value="$(arg alias_file)"/>
    <param name="runtime_file" value="$(arg runtime_file)"/>

    <param name="default_table" value="$(arg default_table)"/>
    <param name="auto_start_session" value="$(arg auto_start_session)"/>
    <param name="default_customer_count" value="$(arg default_customer_count)"/>
    <param name="default_payment_method" value="$(arg default_payment_method)"/>
    <param name="default_discount_amount" value="$(arg default_discount_amount)"/>
    <param name="allow_keyboard_input" value="$(arg allow_keyboard_input)"/>
  </node>
</launch>
