<launch>
  <arg name="default_total_items" default="4"/>

  <include file="$(find warehouse_sorting)/launch/sorting_core.launch">
    <arg name="use_camera" value="true"/>
    <arg name="use_wpb_home_objects" value="false"/>
    <arg name="fallback_to_mock" value="false"/>
    <arg name="dry_run_arm" value="true"/>
    <arg name="dry_run_navigation" value="true"/>
    <arg name="color_depth_enabled" value="true"/>
    <arg name="default_total_items" value="$(arg default_total_items)"/>
  </include>

  <node pkg="warehouse_sorting" type="synthetic_camera_node.py" name="synthetic_camera" output="screen"/>
</launch>
