<launch>
  <arg name="base_params" default="$(find arm_grab_task)/config/stack_sort_abc_tabletop_params.yaml"/>
  <arg name="use_field_override" default="false"/>
  <arg name="field_override" default="$(env HOME)/maps/warehouse_abc_zones.yaml"/>
  <arg name="use_feature_override" default="false"/>
  <arg name="feature_override" default="$(env HOME)/maps/cargo_features.yaml"/>
  <arg name="rviz" default="true"/>

  <rosparam file="$(arg base_params)" command="load"/>
  <rosparam if="$(arg use_field_override)" file="$(arg field_override)" command="load"/>
  <rosparam if="$(arg use_feature_override)" file="$(arg feature_override)" command="load"/>
  <param name="stack_sort_pipeline/visualization_frame" value="map"/>
  <param name="stack_sort_pipeline/gazebo_enable_helper" value="false"/>
  <param name="stack_sort_pipeline/gazebo_attach_on_pick" value="false"/>
  <param name="stack_sort_pipeline/gazebo_validate_grasp_window" value="false"/>
  <param name="stack_sort_pipeline/gazebo_verify_physical_pick" value="false"/>
  <param name="stack_sort_pipeline/gazebo_use_robot_model_pose" value="false"/>
  <param name="stack_sort_pipeline/gazebo_use_source_pick_targets" value="false"/>
  <param name="stack_sort_pipeline/gazebo_stabilize_stack_on_release" value="false"/>
  <param name="stack_sort_pipeline/gazebo_use_absolute_drop_poses" value="false"/>
  <rosparam param="stack_sort_pipeline/gazebo_initial_model_poses">{}</rosparam>

  <node name="stack_sort_pipeline" pkg="arm_grab_task" type="stack_sort_pipeline.py" output="screen"/>

  <node if="$(arg rviz)" name="stack_sort_rviz" pkg="rviz" type="rviz"
        args="-d $(find arm_grab_task)/rviz/stack_sort_status_map.rviz"/>
</launch>
