<launch>
  <!-- ===== Table Configuration (可命令行传参) ===== -->
  <arg name="source_table_x" default="-1.5"/>
  <arg name="source_table_y" default="0.0"/>
  <arg name="source_table_z" default="0.78"/>
  <arg name="source_table_yaw" default="0.0"/>
  <arg name="source_table_length" default="1.0"/>
  <arg name="source_table_width" default="0.5"/>
  <arg name="dest_table_x" default="1.5"/>
  <arg name="dest_table_y" default="0.0"/>
  <arg name="dest_table_z" default="0.78"/>
  <arg name="dest_table_yaw" default="3.1416"/>
  <arg name="dest_table_length" default="1.0"/>
  <arg name="dest_table_width" default="0.5"/>

  <!-- Palletizing executor node -->
  <node pkg="palletizing" type="palletizing_executor.py" name="palletizing_executor" output="screen">
    <param name="source_table_x" type="double" value="$(arg source_table_x)"/>
    <param name="source_table_y" type="double" value="$(arg source_table_y)"/>
    <param name="source_table_z" type="double" value="$(arg source_table_z)"/>
    <param name="source_table_yaw" type="double" value="$(arg source_table_yaw)"/>
    <param name="source_table_length" type="double" value="$(arg source_table_length)"/>
    <param name="source_table_width" type="double" value="$(arg source_table_width)"/>
    <param name="dest_table_x" type="double" value="$(arg dest_table_x)"/>
    <param name="dest_table_y" type="double" value="$(arg dest_table_y)"/>
    <param name="dest_table_z" type="double" value="$(arg dest_table_z)"/>
    <param name="dest_table_yaw" type="double" value="$(arg dest_table_yaw)"/>
    <param name="dest_table_length" type="double" value="$(arg dest_table_length)"/>
    <param name="dest_table_width" type="double" value="$(arg dest_table_width)"/>
    <param name="grid_cols" type="int" value="2"/>
    <param name="grid_rows" type="int" value="3"/>
    <param name="cube_height" type="double" value="0.06"/>   <!-- 兜底默认值 -->
    <param name="hard_cube_height" type="double" value="0.10"/>
    <param name="soft_cube_height" type="double" value="0.15"/>
    <param name="sphere_height" type="double" value="0.15"/>
    <param name="soft_place_offset" type="double" value="0.005"/>
    <param name="stacking_pattern" type="string" value="aligned"/>
    <param name="spacing_x" type="double" value="0.18"/>
    <param name="spacing_y" type="double" value="0.17"/>
    <param name="zone_separation_y" type="double" value="0.35"/>   <!-- 两种物体的堆叠区间距 -->
    <param name="zone_half_x" type="double" value="0.50"/>        <!-- 候选点法: 区半宽 -->
    <param name="zone_half_y" type="double" value="0.25"/>        <!-- 候选点法: 区半深 -->
    <param name="max_height" type="double" value="0.80"/>         <!-- 候选点法: 最大堆高 -->
    <param name="horizontal_gap" type="double" value="0.02"/>     <!-- 候选点法: 水平间隙 -->
    <param name="vertical_gap" type="double" value="0.01"/>       <!-- 候选点法: 垂直间隙 -->
    <param name="gripper_hard_cube" type="double" value="0.052"/>
    <param name="gripper_soft_cube" type="double" value="0.078"/>
    <param name="gripper_hard_sphere" type="double" value="0.028"/>
    <param name="gripper_soft_sphere" type="double" value="0.040"/>
  </node>

</launch>
